$graywhite: #f2f2f2;
$darkgreen: #425e25;
$white: #ffffff;


#hot-topic {
  .card{
    position: relative;
    display: flex;
  }
    .image {
      object-fit: cover;
      width: 100%;
      border-radius: 8px;
     
    }

    
    .img-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      border-radius: 0.4rem;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.25%, rgba(0, 0, 0, 0.65) 100%);
display: flex;
flex-direction: column;
    justify-content: end;
color: #fff;
    }
  }

  .post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: #aab0bc;
    display: flex;
  }
  